.zippy {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 300px;
}

.zippy-heading {
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
}

.zippy-body {
  padding: 1rem;
}

.expanded {
  background: #f0f0f0;
}

.bi {
  float: right;
}
