<main>
  <header>header</header>

  <article>
    <payments></payments>
    <router-outlet></router-outlet>
    <app-navigation (press)="onFavoriteChanged($event)"></app-navigation>
    <app-panel>
      <ng-container class="heading">Heading</ng-container>
      <ng-container class="body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </ng-container>
    </app-panel>
    <favorite
      [favoritesCount]="post.favoritesCount"
      [isFavorite]="post.isFavorite">
    </favorite>

    <ul class="nav nav-pills">
      <a class="nav-link" [class.active]="viewMode == 'map'" (click) = "viewMode = 'map'" href="#">Map View</a>
      <a class="nav-link" [class.active]="viewMode == 'list'" (click) = "viewMode = 'list'" href="#">List View</a>
    </ul>
    <div [ngSwitch]="viewMode">
      <div *ngSwitchCase="'map'">Map View Content</div>
      <div *ngSwitchCase="'list'">
        <ul>
          <li *ngFor="let payment of payments; trackBy: trackPayment">
            {{ payment.name }}
            <button type="button" class="btn btn-primary" (click)="onChange(payment)">Change</button>
            <button type="button" class="btn btn-primary" (click)="onRemove(payment)">Remove</button>
          </li>
        </ul>
      </div>
      <div *ngSwitchDefault>Otherwise</div>
    </div>
    <button type="button" class="btn btn-primary" (click)="onAdd()">Add</button>
    <button type="button" class="btn btn-primary" (click)="onLoad()">Load payments</button>

    <zippy title="Shipping Details">
      Shipping Details Content
    </zippy>
    <zippy title="Billing Details">
      Billing Details Content
    </zippy>

    <contact-form></contact-form>
  </article>

  <aside>
    <payment-form></payment-form>
  </aside>

  <nav>nav</nav>

  <footer>footer</footer>
</main>
